.accordion{
    margin-right: 100px;
    margin-left: 20px
}

.rectangle{
    background-color: #555;
    max-height: auto;
    max-width: auto;
    margin-left: 100px;
}

.pageTitlePad {
    padding-left: 2ch;
    padding-top: 2ch;
}

.sectionPadding {
    padding-top: 10ch;
}

#addCourse {
    float: right;
}

.popUp {
    position: relative;
    display: inline-block;
}

.underLineText {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popUp .popUpText {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    margin-left: -200px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popUp .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}