<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Learner Page</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- Vue Dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- This Nav Bar is for HR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/LMS.png" alt="" width="50" height="24" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Quick Find
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Home</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                    <li style="padding-right: 20px;" class="nav-item">
                        <a class="nav-link" href="#">Task List</a>
                        <!--This will be a popup box which retrieves the list of learners pending acceptance-->
                    </li>
                    <li class="nav-item popUp" onclick="showNotif()">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-bell"></i>
                        </a>
                        <ul class="popUpText" id="HRPopUp"></ul>

                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="pageTitlePad">
        <div class="row">
            <div class="col-1" style="font-size: 4ch;">
                <i style="cursor: pointer;" onclick="window.location.href='HRAssign.html'" class="bi bi-arrow-left-circle-fill"></i>
            </div>
            <div class="col-11">
                <h1>Learner Assignment</h1>
            </div>
        </div>

    </section>

    <div id="app1">
        <section id="learnerList" class="sectionPadding">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-6 text-end">
                        <h2>Managing Learners for: </h2>
                    </div>
                    <div class="col-4 text-center">
                        <h2 style="color: goldenrod;"> {{courseName}} </h2>
                    </div>
                    <div class="col-2">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-3"></div>
                    <div class="col-3 text-center">
                        <label for="selectclass form-label">Class ID:</label>
                        <select style="width: 50px;" id="selectclass" name="selectedClass" @change="updateCap" v-model="chosenClass">
                            <option value=""> </option>
                            <option v-for="classes in classList" :value="classes.classdetails.classid"> {{classes.classdetails.classid}} </option>
                        </select>
                    </div>
                    <div class="col-3 text-center">
                        <b v-if="classCapacity !== '' "> {{classCapacity}} Slots </b>
                        <b v-else></b>
                    </div>
                    <div class="col-3"></div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover">
                            <tr>
                                <th>EID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Enroll?</th>
                            </tr>
                            <tr v-for="person in enrollmentList">
                                <!-- Add logic to handle enrolled and unenrolled-->
                                <td> {{person.engineer.engineerid}} </td>
                                <td> {{person.engineer.name}} </td>
                                <td> {{person.isenrolled}} </td>
                                <td v-if="person.isenrolled == 'enrolled' "></td>
                                <td v-else> <button type="button" class="btn-outline-primary"
                                        @click="hrAssignL(person.engineer.engineerid)">Enroll to Course</button> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script>
        // Vue App 1
        const app1 = new Vue({
            el: "#app1",
            data: {
                courseList: [],
                courseNo: "",
                courseName: "",
                enrollmentList: [],
                classList: [],
                chosenClass: "",
                classCapacity: ""
            },
            methods: {
                hrAssignL: function (id) {
                    // alert(typeof(id));
                    console.log(this.chosenClass)
                    if (this.chosenClass != ''){
                        let confirmation = confirm("Are you sure you want to enroll this learner into Class ID " + this.chosenClass + "?");

                        if (confirmation == true) {
                            axios.get('http://127.0.0.1:5000/Course_Enrolled/assign/eid/' + id + '/cid/' + this.courseNo + '/class/' + this.chosenClass); // For now this assigns engineer to course, need to handle api for class

                            alert("Engineer has been enrolled successfully to " + this.courseName); // Works but if use catch method it returns code 500

                            location.reload();
                        }
                        else {
                            alert("Engineer " + id + " was not enrolled into " + this.courseName);
                        }
                    }else{
                        alert('Please choose a class first.');
                    }
                    
                },
                updateCap: function() {
                    console.log(this.chosenClass)
                    if (this.chosenClass == "") {
                        this.classCapacity = "";
                    }
                    for (classes of this.classList) {
                        if (this.chosenClass == classes.classdetails.classid) {
                            this.classCapacity = classes.classdetails.capacity;
                            break;
                        }
                    }
                    
                },  
            },
            mounted: function () {
                axios.get('http://127.0.0.1:5000/course')
                    .then(response => {
                        this.courseList = response.data.data.courses;

                        for (course of this.courseList) {
                            if (this.courseNo == course.cid) {
                                this.courseName = course.coursename;
                                break;
                            }
                        }
                    })
                    .catch(error => {
                        alert("Error retrieving course data, please check if main.py is being run");
                    });

                // Find parameter to retrieve value being passed over, in this case I want to get courseNum
                let uri = window.location.href.split('?');

                // Returns index of the array where substring is found
                let cNoIndex = uri.findIndex(item => item.includes("courseNum"));

                // Returns the courseNo after the "="
                this.courseNo = uri[cNoIndex].substring(10);

                axios.get('http://127.0.0.1:5000/Engineer/getAllEid/' + this.courseNo)
                    .then(response => {
                        this.enrollmentList = response.data.data.result;
                    })
                    .catch(error => {
                        alert("Error retreiving course enrollment status")
                    });

                axios.get('http://127.0.0.1:5000/class/courseid/' + this.courseNo)
                    .then(response=> {
                        this.classList = response.data.data.classes;
                    })
                    .catch(error => {
                        alert("Error retrieving classes for " + this.courseName);
                    })
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous">
    </script>
</body>


</html>