<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Management Home</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- Vue Dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/LMS.png" alt="" width="50" height="24" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Quick Find
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Home</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                    <li style="padding-right: 20px;" class="nav-item">
                        <a class="nav-link" href="#">My Courses</a>
                        <!--This will be a popup box which retrieves the list of learners pending acceptance-->
                    </li>
                    <li class="nav-item popUp" onclick="showNotif()">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-bell"></i>
                        </a>
                        <ul class="popUpText" id="HRPopUp"></ul>

                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id='app1'>
        <section id="header" class="pageTitlePad">
            <h1>{{quizinfo.quiz_name}} Results</h1>
        </section>

        <section id="subHeader">
            <div class="container">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <h5>Instructions: </h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class=row>
                    <p>This quiz contains <u><b>{{questionslist.length}}</b></u> Questions</p>
                    <p>To Pass this quiz, you need to score at least <u><b>{{quizinfo.passing_requirements}}%</b></u>
                    </p>
                    <p><b> {{cal}}</b></p>
                </div>


                <form name='quizform' id="Quiz_Name" action="#" class="sectionPadding">
                    <div v-for='question in questionslist'>
                        <!-- This chunk is test sample -->
                        <h6>{{question.qnNum}}. {{question.qn_Description}}</h6>
                        <br>
                        <div class="form-check" v-for='(option,index) in optionlist[question.qnNum]'>

                            <div v-if='option==attemptlist[question.qnNum]'>
                                <input class="form-check-input" type="radio" :name="question.qnNum" :value="option"
                                     checked>
                                <label class="form-check-label" :for="question.qnNum">
                                    {{option}}
                                    <span v-if="getMarking(getFormat(attemptlist[question.qnNum]),getFormat(question.answer))">
                                        <i class="bi bi-check-circle-fill"></i>
                                    </span>
                                    <span v-else>
                                        <i class="bi bi-x-circle-fill"></i>
                                    </span>
                                </label>
                            </div>
                            <div v-else>
                                <input class="form-check-input" type="radio" :name="question.qnNum" :value="option"
                                    disabled>
                                <label class="form-check-label" :for="question.qnNum">
                                    {{option}}
                                </label>
                            </div>

                        </div>
                        <br />
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Congratulations on completing the quiz.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-warning"
                                        @click.prevent='submitQuiz()'>Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form> <!-- end quiz section -->
            </div>
        </section>
    </div>
    <script>
        sessionStorage.setItem('usertype', 'learner');
        sessionStorage.setItem('eid', 1);

        //get session from engineer
        var usertype = sessionStorage.getItem('usertype');
        var engineerid = parseInt(sessionStorage.getItem('eid'));

        // Vue App 1
        const app1 = new Vue({
            el: "#app1",
            data: {
                quizid: "",
                questionslist: [],
                answers: '',
                quizinfo: {},
                optionlist: {},
                attemptlist: {},
                name: 'score',
                correct: 0,
                cal: 0
            },
            methods: {
                getscore: function () {
                    this.cal = (this.correct / this.questionslist.length);
                    console.log(this.cal);
                },
                getFormat: function (answer) {
                    formatted = answer.replace(/[']+/g, '').toString();
                    return formatted
                },
                getMarking: function(attempt,correctanswer){
                    if (attempt == correctanswer){
                        this.correct += 1
                        return true
                    }
                    return false
                
                }
            },
            mounted: function () {

                // window.location get the url string after ? 
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                this.quizid = parseInt(urlParams.get('quizid'))
                this.attemptID = parseInt(urlParams.get('attemptID'))
                console.log(this.quizid)
                console.log(this.attemptID)
                // quiz retrieval
                axios.get('http://127.0.0.1:5000/quiz/retrieve/' + this.quizid)
                    .then(response => {
                        console.log(response.data.data.result);
                        this.quizinfo = response.data.data.result;
                    })
                    .catch(error => {

                        this.quizinfo = []; // Error handling for no response retrieve not done
                    });
                axios.get('http://127.0.0.1:5000/quiz_attempt/retrieve/' + this.quizid + '/engineer/' + engineerid + '/attempt/' + this.attemptID)
                    .then(response => {
                        console.log(response.data.data.attempt);
                        tempattemptlist = response.data.data.attempt;
                        for (attempt of tempattemptlist) {
                            this.attemptlist[attempt['qnNum']] = attempt['given_answer'];

                        }
                        console.log(this.attemptlist)
                    })
                    .catch(error => {

                        this.quizinfo = []; // Error handling for no response retrieve not done
                    });
                if (this.quizinfo != []) {

                    // question retrieval
                    axios.get('http://127.0.0.1:5000/quiz/question/retrieve/' + this.quizid)
                        .then(response => {
                            this.questionslist = response.data.data.result;
                            if (this.questionslist != []) {
                                for (question of this.questionslist) {
                                    options = question.options;
                                    qnNo = question.qnNum;
                                    options = options.replace(/['"]+/g, '').toString();
                                    options = options.split(",");
                                    this.optionlist[qnNo] = options
                                }
                            } else {
                                alert('No Questions in this quiz')
                            }

                        })
                        .catch(error => {

                            alert(error)// Error handling for no response retrieve not done

                        });

                    // answers retrival
                }

            }
        });
    </script>




    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous">
        </script>
</body>


</html>